
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Lato', sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color:#FFD287;
  overflow-x: hidden;
}
.header {
  margin: 0 0 0 0;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #a2a2a2;
  background-color: #2c3e50;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 100%;
  z-index: 99999;
}
.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 70px;
  max-width: 90%;
}
.main-nav {
  list-style: none;
  color: #fff;
}
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
}
.main-nav a:hover {
color: #FFD287;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  overflow-x: hidden;
}
h1 {
  font-family: Lato, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  color: #333;
  width: 80%;
}
h2 {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  color: #333;
  width: 80%;
  margin: 2em 0 0 0;
}
h3 {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  color: #FFF;
}
h4, h5 {
  font-family: Lato, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  color: #2c3e50;
  width: 100%;
}
h5 {
  color: #fff;
  font-size: 1.6em;
}
.footer-text {
  color: #fff;
  text-align: center;
  padding: 0 2em 0 2em;
  font-size: 1.2em;
}
.top-container {
  margin: 20em 0 0 0;
}
.container, .container2 {
  display: flex;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
  align-items: center;
  flex-direction: column;
}
.container2 {
  background-color: #FFF;
  margin: 5em 0 5em 0;
  width: 50%;
  margin-left: 25%;
}
.white-bg {
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow:auto;
}
.beeper {
  width: 50%;
}
.avatar {
  width: 20em;
  margin-bottom: 2em;
}
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7em;
  height: 0.25em;
}
.divider-custom .divider-custom-icon {
  color: #333;
  font-size: 2em;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #333;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1em;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1em;
}
.wrapper, .wrapper1 {
  width: 100%;
  margin-left: 7.5%;
  background-color: #fff;
}
.columns {
  float: left;
  width: 85%;
  padding: 0 1em 2em 1em;
  text-align: center;
}
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  background-color: #27b99a;
}
#price1 {
  background-color: #2c3e50;
  color: #fff;
}
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.list-header {
  text-align: center;
  width: 100%;
  font-size: 1em;
}
.price .header {
  background-color: #2c3e50;
  color: white;
  font-size: 1.5em;
}
.price .header1 {
  background-color: #27b99a;
  color:#333;
  font-size: 1.5em;
}
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}
.price .grey {
  background-color: #fff;
  font-size: 20px;
}
#video-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3em 0 5em 0;
}
#video-container > iframe {
  max-width: 650px;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.col-about-left, .col-about-right {
  width: 90%;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
.col-about-left {
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 1em;
}
.col-about-right {
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 5em;
}
.lead {
  font-size: 1.25rem;
  font-weight: 400;
}
input[type=email], select {
  width: 100%;
  padding: 1.5em 0 1.5em 1em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 3em 0 3em 0;
}
.email-form {
  display: flex;
  justify-content: center;
  text-align: center;
}
.button, .button1 {
  background-color: #2c3e50; 
  border: none;
  color: white;
  padding: 24px 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 10px 5px 0 #333;
}
.button1 {
  margin: 0 0 5em 0;
  background-color: #FFD287;
  color: #333;
}
.button1:hover {
background-color: #2c3e50;
color: #FFF;
font-weight: bold;
}
.button:active {
background-color: #2c3e50;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
.footer-container {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
}
.social {
  flex: 1;
  padding: 20px;
  justify-content: center;
  text-align: center;
  background-color: #2c3e50;
}
.social-button {
  border-radius: 100%;
  display: inline-flex;
  width: 5.25rem;
  height: 5.25rem;
  font-size: 2.25rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.location {
  background-color: #2c3e50;
  padding: 20px;
}

.facts {
  padding: 20px;
  background-color: #2c3e50;
}
.copyright {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #2c3e50;
  background-color: white;
}
@media (min-width: 700px) {
	.header, .main-nav {
    display: flex;               
	}
	.header {
		flex-direction: column;
		align-items: center;
  }
  .main-nav {
    padding: 0;
  }

  h1 {
    width: 70%;
    font-size: 3em;
  }
  .columns {
    width: 25%;
    margin-bottom: 5em;
    }
  .wrapper {
    margin-left: 12.5%;
  }
  h4 {
    font-size: 3em;
  }
  .col-about-left, .col-about-right {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .col-about-left {
    margin-left: auto;
    margin-bottom: 5em;
  }
  .col-about-right {
    margin-right: auto; 
    margin-bottom: 5em;
  }
  .top-container {
    margin: 15em 0 0 0;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
  }
  .price .header {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
  .logo {
    margin: 0 0 0 8em;
  }
  .main-nav {
    padding: 0 12em 0 0;
  }
  .container {
    max-width: 1150px;
  }
  .top-container {
    margin: 10em 0 0 0;
  }
}